$color-primary: #367ebe;
$color-primary-dark: #1860a0;
$color-primary-light: #77baf6;
$color-primary-gradient: linear-gradient(
	214.55deg,
	#1860a0 20.39%,
	#367ebe 94.42%
);

$color-secondary: #ef767a;
$color-secondary-dark: #c8575b;
$color-secondary-light: #ffb9bb;
$color-secondary-gradient: linear-gradient(
	213.75deg,
	#c8575b 18.72%,
	#ef767a 88.69%
);

$color-error: #ff0000;
$color-alert: #faff00;
$color-success: #24b400;

$color-heading-dark: #000000;
$color-heading-light: #ffffff;
$color-body-dark: #373737;
$color-body-light: #ededed;
$color-label-caption-placeholder-dark: #b3b3b3;
$color-label-caption-placeholder-light: #d2d2d2;
$color-link-dark: #000000;
$color-link-light: #f4f4f4;

$background-body-light: #ffffff;
$background-body-dark: rgba(0, 0, 0, 0.8);
$background-input-field: #fbfbfb;
$background-body-gradient: linear-gradient(
	180deg,
	#efefef 0%,
	#e4e4e4 0.01%,
	rgba(226, 226, 226, 0) 100%
);

$color-border-light: #e7e7e7;
$color-border-dark: #c4c4c4;

$color-outline-dark: #000000;
$color-outline-light: #ffffff;
