$outline-light: 1px solid $color-outline-light;
$outline-dark: 1px solid $color-outline-dark;
$outline-primary: 2px solid $color-primary;
$outline-secondary: 2px solid $color-secondary;
$outline-error: 2px solid $color-error;
$outline-success: 2px solid $color-success;
