<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/css/main.min.css" />
		<title>Title</title>
	</head>
	<body>
		<header></header>

		<main>
			<div container>
				<ul>
					<li></li>
					<li></li>
					<li></li>
				</ul>

				<div date picker></div>

				<div room selection>
					<div col-5>
						<img src="" alt="" />
						<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
					<div col-7>
						<h4></h4>
						<ul>
							<li></li>
							<li></li>
						</ul>
						<button></button>
					</div>
				</div>

				<div review>
					<div col-5>
						<h6></h6>
						<img src="" alt="" />
						<div>
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
							<ul>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								<li></li>
							</ul>
						</div>
					</div>
					<div col-7>
						<form action="">
							<div>
								<h6></h6>
								<div>
									<label for=""></label>
									<input type="text" />
								</div>

								<div>
									<label for=""></label>
									<input type="text" name="" id="" />
								</div>

								<div>
									<label for=""></label>
									<input type="text" name="" id="" />
								</div>
							</div>

							<div>
								<h6></h6>
								<div>
									<img src="" alt="" />
									<img src="" alt="" />
									<img src="" alt="" />
									<img src="" alt="" />
								</div>
								<div>
									<label for=""></label>
									<input type="text" />
								</div>
								<div>
									<label for=""></label>
									<input type="text" />
								</div>
								<div>
									<label for=""></label>
									<input type="text" />
									<input type="text" />
								</div>
								<div>
									<label for=""></label>
									<input type="text" />
								</div>
								<div>
									<label for=""></label>
									<input type="text" />
								</div>
								<div>
									<label for=""></label>
									<textarea
										name=""
										id=""
										cols="30"
										rows="10"
									></textarea>
								</div>
								<div>
									<label for=""></label>
									<textarea
										name=""
										id=""
										cols="30"
										rows="10"
									></textarea>
								</div>
								<div>
									<label for=""></label>
									<input type="text" />
								</div>
								<div>
									<label for=""></label>
									<input type="text" />
								</div>
								<div>
									<label for=""></label>
									<input type="text" />
								</div>
								<div>
									<input type="checkbox" />
									<label for=""></label>
								</div>
							</div>

							<button></button>
						</form>
					</div>
				</div>
			</div>
		</main>

		<footer></footer>

		<script src="./assets/js/scripts/main.js"></script>
	</body>
</html>
