<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./assets/css/main.min.css" />
		<title>Title</title>
	</head>
	<body>
		<header></header>

		<main>
			<div container>
				<h6></h6>
				<form action="">
					<div>
						<label for=""></label>
						<input type="text" />
					</div>

					<div>
						<label for=""></label>
						<input type="text" />
					</div>

					<button></button>
				</form>
			</div>
		</main>

		<footer></footer>

		<script src="./assets/js/scripts/main.js"></script>
	</body>
</html>
