<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./../assets/css/main.min.css" />
		<title>Hotel Terra Jackson</title>
	</head>
	<body>
		<header class="l-header">
			<img
				class="l-header__img"
				src="./../assets/images/rooms/Suite-Living-Room-horz-1024x768.jpg"
			></img>

			<nav class="m-nav-desktop">
				<div class="m-nav-desktop__container">
					<div class="m-nav-desktop__content">
						<a href="./../index.html">
                            <i class="m-nav-desktop__logo"></i>
                        
                        </a>

						<ul class="m-nav-desktop__list-middle">
							<li class="m-nav-desktop__list-item">
								<a href="./resorts.html" class="m-nav-desktop__anchor" data-active-link="j-resorts"
									>Resorts</a
								>
							</li>
							<li class="m-nav-desktop__list-item">
								<a href="./activities.html" class="m-nav-desktop__anchor" data-active-link="j-activities"
									>Activities</a
								>
							</li>
							<li class="m-nav-desktop__list-item">
								<a href="./room.html" class="m-nav-desktop__anchor" data-active-link="j-rooms"
									>Rooms</a
								>
							</li>
							<li class="m-nav-desktop__list-item">
								<a href="./reservation.html" class="m-nav-desktop__anchor" data-active-link="j-reservation"
									>Reservation</a
								>
							</li>
						</ul>
						<ul class="m-nav-desktop__list-end">
							<li class="m-nav-desktop__list-item">
								<a href="./about.html" class="m-nav-desktop__anchor" data-active-link="j-about"
									>About us</a
								>
							</li>
							<li class="m-nav-desktop__list-item">
								<a href="contact.html" class="m-nav-desktop__anchor" data-active-link="j-contact"
									>Contact us</a
								>
							</li>
							<li
								class="m-nav-desktop__list-item u-margin-right-0"
							>
								<a
									href="./booking.html"
									class="c-button m-nav-desktop__anchor"
									>Book now</a
								>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<nav class="m-nav-mobile">
				<a href="./../index.html">
					<i class="m-nav-mobile__logo"></i>
				</a>

				<button id="j-hamburger" class="m-nav-mobile__hamburger">
					<div class="m-nav-mobile__hamburger-piece-1"></div>
					<div class="m-nav-mobile__hamburger-piece-2"></div>
				</button>

				<nav class="m-nav-mobile__panel m-nav-mobile__panel--hide">
					<button
						id="j-nav-cross"
						class="m-nav-mobile__panel-cross-button"
					>
						<i class="m-nav-mobile__panel-cross-icon"></i>
					</button>
					<a href="./../index.html">
						<i class="m-nav-mobile__panel-logo"></i>
					</a>

					<ul class="m-nav-mobile__panel-list">
						<li class="m-nav-mobile__panel-list-item">
							<a href="./resorts.html" class="m-nav-mobile__anchor" data-active-link="j-resorts">Resorts</a>
						</li>
						<li class="m-nav-mobile__panel-list-item">
							<a href="./activities.html" class="m-nav-mobile__anchor" data-active-link="j-activities"
								>Activities</a
							>
						</li>
						<li class="m-nav-mobile__panel-list-item">
							<a href="./room.html" class="m-nav-mobile__anchor" data-active-link="j-rooms">Rooms</a>
						</li>
						<li class="m-nav-mobile__panel-list-item">
							<a href="./reservation.html" class="m-nav-mobile__anchor" data-active-link="j-reservation"
								>Reservation</a
							>
						</li>
						<li class="m-nav-mobile__panel-list-item">
							<a href="./about.html" class="m-nav-mobile__anchor" data-active-link="j-about">About us</a>
						</li>
						<li class="m-nav-mobile__panel-list-item">
							<a href="./contact.html" class="m-nav-mobile__anchor" data-active-link="j-contact"
								>Contact us</a
							>
						</li>
						<li
							class="m-nav-mobile__panel-list-item u-margin-bottom-0"
						>
							<a
								href="./booking.html"
								class="c-button m-nav-mobile__anchor m-nav-mobile__panel-button"
								>Book now</a
							>
						</li>
					</ul>
				</nav>
			</nav>

			<div class="l-hero__container">
				<div class="l-hero">
					<h4 class="l-hero__title">Our rooms</h4>
                    <p class="l-hero__text">Accomodation that provides you and your loved ones with comfort </p>
				</div>
			</div>
		</header>

		<main class="l-main" data-active-page="j-rooms"> 
			<section class="m-main-section">
				<div class="m-main-section__container">

					<div class="m-main-section__content">

						<div class="l-feature-card-wrapper">
							<div class="c-feature-card c-feature-card--right">
								<div class="c-feature-card__row">
									<div class="c-feature-card__col-text">
										<h4 class="c-feature-card__title">
											Room & Suites
										</h4>
										<p class="c-feature-card__description">
											With stylish finishes and thoughtful amenities, our rooms and suites will feel like your own luxury Jackson Hole home in no time.
										</p>
									</div>
									<div class="c-feature-card__col-img">
										<img
											src="./../assets/images/rooms/Suite-Room-horz-768x576.jpg"
											alt="a person skiing"
											class="c-feature-card__img"
										/>
									</div>
								</div>
							</div>
						</div>
						
						<div class="l-feature-card-wrapper u-margin-bottom-0">
							<div class="c-feature-card">
								<div class="c-feature-card__row">
									<div class="c-feature-card__col-text">
										<h4 class="c-feature-card__title">
											Accessible Rooms
										</h4>
										<p class="c-feature-card__description">
											Hotel Terra accommodates guests with disabilities.
										</p>
									</div>
									<div class="c-feature-card__col-img">
										<img
											src="./../assets/images/rooms/gallery-16.jpg"
											alt="skiing in playground"
											class="c-feature-card__img"
										/>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

            <section class="m-main-section">
				<div class="m-main-section__container">
					<h5 class="m-main-section__title">
						Special ongoing offers
					</h5>
					<div class="m-main-section__content">
						<div class="m-offer-section">
							<div class="m-offer-section__row">
								<div class="m-offer-section__col">
									<div class="c-offer">
										<div
											class="c-offer__img c-offer__img-1"
										></div>
										<div class="c-offer__content">
											<h4 class="c-offer__title">
												4th Night On Us
											</h4>
											<p class="c-offer__description">
												What are you going to do with
												your extra day? Whether you ski
												more, spa more, or explore
												Jackson Hole more… your extra
												night is on us!
											</p>
											<a
												href="#"
												class="c-offer__button c-button c-button--large"
												>More</a
											>
										</div>
									</div>
								</div>

								<div
									class="m-offer-section__col u-margin-bottom-0"
								>
									<div class="c-offer">
										<div
											class="c-offer__img c-offer__img-2"
										></div>
										<div class="c-offer__content">
											<h4 class="c-offer__title">
												Gift Cards Available
											</h4>
											<p class="c-offer__description">
												Give the gift of adventure,
												exhilaration and relaxation in
												Jackson Hole. Gift cards for
												Hotel Terra Jackson Hole and
												CHILL Spa are now available for
												purchase.
											</p>
											<a
												href="#"
												class="c-offer__button c-button c-button--large"
												>More</a
											>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
		</main>

		<footer class="l-footer">
			<div class="l-footer__container">
				<div class="l-footer__row">
					<div class="l-footer__col-logo">
						<i class="l-footer__logo"></i>
					</div>
					<div class="l-footer__col-details">
						<div class="l-footer__address">
							<p class="l-footer__subtitle">Address</p>
							<div class="l-footer__address-lines">
								<p class="l-footer__address-line">
									Hotel Terra Jackson Hole
								</p>
								<p class="l-footer__address-line">
									3335 West Village Drive
								</p>
								<p class="l-footer__address-line">
									Teton Village, WY 83025
								</p>
							</div>
							<a href="" class="l-footer__button c-button"
								>Maps or directions</a
							>
						</div>

						<div class="l-footer__phone">
							<p class="l-footer__subtitle">Phone</p>
							<p class="l-footer__number">855-318-8707</p>
							<p class="l-footer__number">855-318-8707</p>
						</div>

						<div class="l-footer__links">
							<p class="l-footer__subtitle">Links</p>
							<ul class="l-footer__links-list">
								<li class="l-footer__list-link">
									<a href="./careers.html" class="l-footer__anchor"
										>Careers</a
									>
								</li>
								<li class="l-footer__list-link">
									<a href="./accessibility.html" class="l-footer__anchor">
										Accessibility
									</a>
								</li>
								<li class="l-footer__list-link">
									<a href="./privacy_policy.html" class="l-footer__anchor">
										Privacy policy
									</a>
								</li>
								<li class="l-footer__list-link">
									<a href="./sitemap.html" class="l-footer__anchor">
										Sitemap
									</a>
								</li>
							</ul>
						</div>

						<div class="l-footer__social">
							<p class="l-footer__subtitle">Social</p>
							<i
								class="l-footer__social-icon l-footer__social-icon--facebook"
							></i>
							<i
								class="l-footer__social-icon l-footer__social-icon--twitter"
							></i>
							<i
								class="l-footer__social-icon l-footer__social-icon--google-plus"
							></i>
							<i
								class="l-footer__social-icon l-footer__social-icon--instagram"
							></i>
						</div>
					</div>
				</div>
				<p class="l-footer__copyright">
					<span class="l-footer__copyright-symbol">&#169;</span>
					copyright 2021, all rights reserved
				</p>
			</div>
		</footer>
		<script
			src="https://code.jquery.com/jquery-3.5.1.min.js"
			integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			crossorigin="anonymous"
		></script>
		<script src="./../assets/js/scripts/main.js"></script>
		<noscript>
			<h2
				style="
					position: absolute;
					top: 25vh;
					font-size: 5rem;
					text-align: center;
					z-index: 5;
				"
			>
				JavaScript is disabled! Why you want to do so? Please enable
				JavaScript in your web browser!
			</h2>

			<style type="text/css">
				header,
				.l-hero,
				.m-nav-desktop,
				main,
				.l-footer__content {
					display: none;
				}
			</style>
		</noscript>
	</body>
</html>
