// utilities
@import './helpers/_rem';
@import './helpers/_breakpoints';

// base
@import './base/_reset';
@import './base/_bootstrap_grid.scss';
@import './base/_colors';
@import './base/_typography';
@import './base/_borders';
@import './base/_outlines';
@import './base/_shadows';
@import './base/_spacing';

// layouts
@import './layout/_layout';

// modules
@import './modules/_modules';

// components
@import './components/_components';

// state
@import './state/_state';

// utilities
@import './utility/_utility_classes';

// dirtyfix
@import './dirtyfix/_dirtyfix';

// bootstrap overrides
.container {
	padding: 0px;
}

.container-fluid {
	padding: 0px;
	max-width: 1200px;
}

.row {
	padding: 0px;
	margin: 0px;
}

[class*='col-'] {
	padding-left: rem(16px);
	padding-right: rem(16px);
}

// code
* {
	// border: 1px dotted black !important;
}
