.c-button {
	@include typography-button;
	@include padding(xs);
	// @include border-primary;

	background: $color-primary;
	border: none;
	color: $color-heading-light;
	display: inline-block;
	transition: all 0.3s ease;
	text-decoration: none;

	&:hover {
		background: $color-primary;
		color: $color-heading-light;
		cursor: pointer;
	}

	&:focus {
		background: $color-primary-dark;
		color: $color-heading-light;

		outline: $outline-primary;
	}

	&--large {
		@include padding-squish(sm);
	}
}

.c-label {
	@include typography-body-2;

	color: $color-body-dark;
	display: block;
}

.c-input {
	@include padding-squish(xs);
	@include typography-body-2;
	@include border-dark;

	background: $background-input-field;
	color: $color-body-dark;
	display: block;
	transition: all 0.5s ease;
	width: 100%;

	&:focus {
		outline: $outline-primary;
	}
}

.c-textarea {
	@include padding-squish(xs);
	@include typography-body-2;
	@include border-dark;

	background: $background-input-field;
	color: $color-body-dark;
	width: 100%;

	&:focus {
		outline: $outline-primary;
	}
}

.c-feature-card {
	&__row {
		@extend .row;
	}

	&__col-text {
		@extend .col-md-6;
		@extend .order-2;
	}

	&__col-img {
		@extend .col-md-6;
		@extend .order-1;
	}

	&__title {
		@include typography-h4;
		@include margin-top(md);
		@include margin-bottom(sm);

		color: $color-heading-dark;

		@include breakpoint-up(md) {
			margin-top: rem(128px);
		}
	}

	&__img {
		height: rem(680px);
		object-fit: cover;
		width: 100%;
	}

	&__description {
		@include typography-body-2;

		color: $color-body-dark;
	}

	&--right {
		.c-feature-card__col-text {
			@extend .order-md-1;
		}

		.c-feature-card__col-img {
			@extend .order-md-2;
		}

		.c-feature-card__title {
			text-align: right;
		}

		.c-feature-card__description {
			text-align: right;
		}
	}
}

.c-offer {
	background: $background-body-gradient;

	&__img {
		height: rem(400px);
		background-repeat: no-repeat;
		object-fit: cover;
		width: 100%;

		&-1 {
			background-image: url('./../images/offers/gallery-27.jpg');
		}

		&-2 {
			background-image: url('./../images/offers/gift-dd.jpg');
		}
	}

	&__content {
		@include padding(sm);
	}

	&__title {
		@include typography-h4;
		@include margin-top(sm);
		@include margin-bottom(sm);

		color: $color-heading-dark;
	}

	&__description {
		@include typography-body-2;

		color: $color-body-dark;
	}

	&__button {
		@include margin-top(md);
	}
}

.c-room-card {
	@include margin-bottom(lg);
	border-radius: rem(4px);

	&__row {
		@extend .row;
	}

	&__col-img-section {
		@extend .col-md-5;
	}

	&__img-section {
	}

	&__img {
		height: rem(272px);
		object-fit: cover;
		width: 100%;
	}

	&__feature-list {
		@include padding(xs);

		background: $background-body-light;
		text-align: center;

		&-item {
			@include margin-right(sm);
			@include typography-body-2;

			color: $color-body-dark;
			display: inline-block;
			text-align: center;

			@include breakpoint-up(lg) {
				@include margin-right(md);
			}
		}

		@include breakpoint-up(md) {
			@include margin-top(xs);
		}
	}

	&__col-description-section {
		@extend .col-md-7;
	}

	&__description-section {
		@include padding(md);
		@include padding-left(md);

		background: $background-body-light;

		@include breakpoint-up(md) {
			@include padding-top(lg);

			height: 350px;
		}
	}

	&__title {
		@include typography-h4;

		color: $color-heading-dark;
	}

	&__details-list {
		@include margin-top(sm);

		&-item {
			@include typography-body-2;

			color: $color-body-dark;
		}
	}

	&__button {
		@include margin-top(sm);
	}
}
