.l-header {
	height: 100vh;
	position: relative;
	//dirty trick to make video stick to top
	padding-top: rem(1px);
	top: 0px;

	&__video {
		height: 100%;
		position: absolute;
		object-fit: cover;
		width: 100%;
		top: 0px;
		z-index: -1;
	}

	&__img {
		height: 100%;
		position: absolute;
		object-fit: cover;
		width: 100%;
		top: 0px;
		z-index: -1;
	}

	&__container {
		@extend .container-fluid;
	}

	&--non-100vh {
		height: rem(70px);
	}
}

.l-hero {
	@include padding(md);
	@include margin-left(sm);

	background: $background-body-dark;
	margin-top: rem(128px);

	&__container {
		@extend .container-fluid;
	}

	&__logo {
		@include margin-bottom(sm);
		background-image: url('./../images/icons_logos/logo.svg');
		background-size: cover;
		display: block;
		height: rem(74px);
		width: rem(128px);
	}

	&__title {
		@include typography-h4;
		color: $color-heading-light;
	}

	&__text {
		@include typography-subtitle-2;
		@include margin-top(sm);
		color: $color-body-light;
	}

	&__button {
		@include margin-top(sm);
		display: block;
	}

	@include breakpoint-up(md) {
		width: 60%;
	}

	@include breakpoint-up(lg) {
		width: 50%;
	}
}

.l-achievements {
	&__row {
		@extend .row;
	}

	&__col-img {
		@extend .col-6;
		@extend .col-md-2;

		margin: 0px auto 0px auto;
	}

	&__img {
		margin: auto 0 auto 0;
		width: 100%;
	}

	&__col-text {
		@extend .col-md-10;
		@extend .d-flex;
		@extend .align-items-center;
	}

	&__text {
		@include margin-top(sm);
		@include typography-body-2;

		@include breakpoint-up(md) {
			margin-top: 0px;
		}
	}
}

.l-main {
	&__img {
		background-position: center;
		height: 100vh;
		width: 100%;

		&--first {
			background: url('./../images/home/gallery-14.jpg');
			//have to use properties here, other not working outside this block
			background-size: cover;
			background-attachment: fixed;
		}

		&--second {
			background: url('./../images/home/sign-of-man-on-bull.jpg');
			//have to use properties here, other not working outside this block
			background-size: cover;
			background-attachment: fixed;
		}

		&--third {
			background: url('./../images/home/gallery-11.jpg');
			//have to use properties here, other not working outside this block
			background-size: cover;
			background-attachment: fixed;
		}
	}
}

.l-feature-card-wrapper {
	@include margin-bottom(lg);
}

.l-footer {
	@include padding-stretch(sm);

	background: $background-body-dark;

	&__container {
		@extend .container-fluid;
	}

	&__row {
		@extend .row;
	}

	&__col-logo {
		@extend .col-3;
		@extend .col-md-2;
	}

	&__col-details {
		@extend .col-9;
		@extend .col-md-10;
	}

	&__logo {
		background-image: url('./../images/icons_logos/logo.svg');
		background-size: contain;
		background-repeat: no-repeat;
		display: inline-block;
		height: rem(40px);
		width: rem(64px);
	}

	&__subtitle {
		@include typography-subtitle-2;
		@include margin-bottom(sm);
		color: $color-heading-light;
	}

	&__address {
		@include margin-bottom(md);
		color: $color-body-light;

		@include breakpoint-up(md) {
			display: inline-block;
		}
	}

	&__address-line {
		@include typography-body-2;
	}

	&__button {
		@include margin-top(sm);
	}

	&__phone {
		@include margin-bottom(md);

		@include breakpoint-up(md) {
			@include margin-left(md);

			display: inline-block;
			vertical-align: top;
		}

		@include breakpoint-up(lg) {
			@include margin-left(lg);
		}
	}

	&__number {
		@include typography-body-2;
		color: $color-body-light;
	}

	&__links {
		@include margin-bottom(md);

		@include breakpoint-up(md) {
			@include margin-left(md);

			display: inline-block;
		}

		@include breakpoint-up(lg) {
			@include margin-left(lg);
		}
	}

	&__list-link {
		@include margin-bottom(xs);
	}

	&__anchor {
		color: $color-body-light;
		@include typography-body-2;
	}

	&__social {
		@include breakpoint-up(lg) {
			@include margin-left(md);
			display: inline-block;
		}

		@include breakpoint-up(lg) {
			@include margin-left(lg);

			vertical-align: top;
		}
	}

	&__social-icon {
		@include margin-right(xs);
		background-size: contain;
		display: inline-block;
		height: rem(24px);
		width: rem(24px);

		&--facebook {
			background-image: url('./../images/icons_logos/facebook.svg');
			background-image: url('./../images/icons_logos/google_plus.svg');
		}

		&--twitter {
			background-image: url('./../images/icons_logos/twitter.svg');
			background-image: url('./../images/icons_logos/google_plus.svg');
		}

		&--google-plus {
			background-image: url('./../images/icons_logos/google_plus.svg');
		}

		&--instagram {
			background-image: url('./../images/icons_logos/instagram.svg');
			background-image: url('./../images/icons_logos/google_plus.svg');
		}
	}

	&__copyright {
		@include margin-top(lg);
		@include margin-left(sm);
		@include typography-body-2;

		@extend .d-flex;
		@extend .align-items-center;
		color: $color-body-light;
	}

	&__copyright-symbol {
		@include typography-h6;
		@include margin-right(xs);

		margin-top: rem(4px);
	}
}

.l-about-us {
	@include margin-left(sm);
	@include margin-right(sm);
	@include typography-body-2;
}

.l-contact {
	@include margin(sm);

	&__address {
		&-line {
			@include typography-body-2;
		}
	}

	&__phone {
		@include margin-top(sm);

		&-target {
			@include typography-body-2;
		}

		&-number {
			@include typography-body-2;
			color: $color-primary;
		}
	}

	&__email {
		@include margin-top(sm);

		&-target {
			@include typography-body-2;
		}

		&-link {
			@include typography-body-2;
			color: $color-primary;

			&--margin {
				@include margin-bottom(sm);
			}
		}
	}
}
